@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 @font-face { font-family: "Rubl Sign"; src: url(http://www.artlebedev.ru/;-)/ruble.eot); }
    span.rur { font-family: "Rubl Sign"; text-transform: uppercase; // text-transform: none;}    
    span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .1ex 0 0 -.55em; // display: none; }
    span.rur span:before { content: '\2013';}
@font-face {
    font-family: 'MyriadPro light';
	src: url(../fonts/MyriadPro-Light.otf);
    src: url('../fonts/MyriadPro-Light.eot');
    src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Light.woff') format('woff'),
         url('../fonts/MyriadPro-Light.ttf') format('truetype'),
         url('../fonts/MyriadPro-Light.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}